[submodule "3rdParty/googletest"]
	path = 3rdParty/googletest
	url = https://gitee.com/mirrors/googletest.git
[submodule "3rdParty/nlohmannJson"]
	path = 3rdParty/nlohmannJson
	url = https://gitee.com/mirrors/nlohmann-json.git
[submodule "3rdParty/NVTX"]
	path = 3rdParty/NVTX
	url = https://gitee.com/mirrors/NVTX.git
